In [3]:
import numpy as np
from numpy import array
import pandas as pd
from pandas import DataFrame

In [4]:
flow = pd.read_excel('/home/lzy/lab_env/Project/平望日频时频/原始/平望时频文件.xlsx')
print(flow.shape)
flow.columns

(94117, 34)

/tmp/ipykernel_5174/1057552205.py:1: FutureWarning: Inferring datetime64[ns] from data containing strings is deprecated and will be removed in a future version. To retain the old behavior explicitly pass Series(data, dtype=datetime64[ns])
  flow = pd.read_excel('/home/lzy/lab_env/Project/平望日频时频/原始/平望时频文件.xlsx')

Index(['TM', 'Z', 'Q', 'DRP(63001000)', 'DRP(63203000)', 'DRP(63204401)',
       'DRP(63204450)', 'DRP(63204600)', 'DRP(63204650)', 'DRP(63204800)',
       'DRP(63204850)', 'DRP(63205350)', 'DRP(63300800)', 'DRP(63301150)',
       'DRP(63301600)', 'DRP(63303400)', 'DRP(63303600)', 'DRP(63304400)',
       'DRP(63304800)', 'DRP(63305200)', 'DRP(63305800)', 'DRP(63307200)',
       'DRP(63307800)', 'DRP(63309200)', 'DRP(63309600)', 'DRP(63310400)',
       'DRP(63310600)', 'DRP(63320600)', 'DRP(63403200)', 'DRP(63403500)',
       'DRP(63403600)', 'DRP(63404900)', 'TGTQ', 'TDZ'],
      dtype='object')

In [5]:
# flow = flow.rename(columns={'TM.3':'TM',})

In [6]:
flow.iloc[:,0]

0       2012-01-01 00:00:00
1       2012-01-01 01:00:00
2       2012-01-01 02:00:00
3       2012-01-01 03:00:00
4       2012-01-01 04:00:00
                ...
94112   2022-09-28 12:00:00
94113   2022-09-28 13:00:00
94114   2022-09-28 14:00:00
94115   2022-09-28 15:00:00
94116   2022-09-28 16:00:00
Name: TM, Length: 94117, dtype: datetime64[ns]

In [7]:
start = flow.iloc[:,0].iloc[0]
end = '2022-09-28 16:00:00'
t_index = pd.date_range(start=start, end=end, freq='H')
full_time = pd.DataFrame(t_index, columns=['TM'])
full_time

                       TM
0     2012-01-01 00:00:00
1     2012-01-01 01:00:00
2     2012-01-01 02:00:00
3     2012-01-01 03:00:00
4     2012-01-01 04:00:00
...                   ...
94164 2022-09-28 12:00:00
94165 2022-09-28 13:00:00
94166 2022-09-28 14:00:00
94167 2022-09-28 15:00:00
94168 2022-09-28 16:00:00

[94169 rows x 1 columns]

In [8]:
complete = flow.merge(full_time,how='right',sort=True)
complete.iloc[:,[1,2,32,33]].fillna(axis=1,method='ffill')
complete.iloc[:,3:32].fillna(0, inplace=True)

/tmp/ipykernel_5174/1659688629.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  complete = complete.iloc[:,3:32].fillna(0, inplace=True)

In [9]:
complete.to_csv('/home/lzy/lab_env/Project/平望日频时频/原始/时频补全.csv')

AttributeError: 'NoneType' object has no attribute 'to_csv'