In [56]:
import numpy as np
from numpy import array
import pandas as pd
from pandas import DataFrame

### 水闸日频

In [66]:
total_pingwang = pd.read_excel('水闸.xlsx')
taifuzha = total_pingwang.iloc[:,0:2]

In [74]:
total_time = len(taifuzha.iloc[9:94161,:])
days = int(total_time/24)
print(days)

3923

In [60]:
print(taifuzha.iloc[:,0])
print(taifuzha.iloc[:,2].count())

0       2012-01-01 00:00:00
1       2012-01-01 01:00:00
2       2012-01-01 02:00:00
3       2012-01-01 03:00:00
4       2012-01-01 04:00:00
                ...
94185                   NaT
94186                   NaT
94187                   NaT
94188                   NaT
94189                   NaT
Name: TM_modi, Length: 94190, dtype: datetime64[ns]
87263

In [59]:
zha = pd.merge(taifuzha.iloc[:,0],taifuzha.iloc[:,2:4],on=['TM_modi'],how='outer')

KeyError: 'TM_modi'

In [50]:
taifuzha.iloc[0,0]

Timestamp('2012-01-01 00:00:00')

In [55]:
# set1 = set(taifuzha.iloc[:,0])
# set2 = set(taifuzha.iloc[:,2])
# print(len(set1),len(set2))
# print(len(set1)-len(set2))
# pingwanglevel_owning = sorted(set1&set2)
# # print(pingwanglevel_owning)

TypeError: int() argument must be a string, a bytes-like object or a number, not 'tuple'

In [194]:
total = pd.read_excel('苏州8点.xlsx',skiprows=1)
print(type(total))
total.columns

<class 'pandas.core.frame.DataFrame'>

Index(['TM', 'Z', 'Q', 'Unnamed: 3', 'STCD', 'TM.1', 'DRP', 'DYP',
       'Unnamed: 8', 'IDTM', 'ACCPW', 'ACCDW', 'IDTM.1', 'ACCPW.1', 'ACCDW.1',
       'IDTM.2', 'ACCPW.2', 'ACCDW.2', 'IDTM.3', 'ACCPW.3', 'ACCDW.3',
       'IDTM.4', 'ACCPW.4', 'ACCDW.4'],
      dtype='object')

In [195]:
rainfall = total.iloc[:,4:8]
rainfall = rainfall.rename(columns={'STCD':'STCD','TM.1':'TM'})
rainfall.columns
rainfall.isnull().any()

STCD    False
TM      False
DRP      True
DYP      True
dtype: bool

In [196]:
rainfall_id = rainfall.groupby('STCD')
id_list = []
time_list = []
for i,j in rainfall_id:
    # print(i,j)
    id_list.append(i)
    time_list.append(j.iloc[:,1:4])
print(id_list)
print(time_list[1])

[63203000, 63204401, 63204450, 63204600, 63204650, 63204800, 63204850, 63205350, 63403200, 63403500, 63403600, 63404900]
                       TM  DRP  DYP
17    2012-01-09 08:00:00  NaN  0.3
31    2012-01-14 08:00:00  NaN  3.2
37    2012-01-15 08:00:00  NaN  4.3
48    2012-01-16 08:00:00  NaN  4.3
66    2012-01-19 08:00:00  NaN  5.8
...                   ...  ...  ...
39452 2022-09-24 08:00:00  0.0  0.0
39475 2022-09-25 08:00:00  0.0  0.0
39478 2022-09-26 08:00:00  0.0  0.0
39489 2022-09-27 08:00:00  0.0  1.5
39511 2022-09-28 08:00:00  0.0  0.5

[3466 rows x 3 columns]

In [197]:
# [63203000, 63204401, 63204450, 63204600, 63204650, 63204800, 63204850, 63205350, 63403200, 63403500, 63403600, 63404900]
# time_list_1= time_list[0].rename({'TM':'63001000'})
time_list_1= time_list[0].rename({'TM':'63203000'})
time_list_2= time_list[1].rename({'TM':'63204401'})
time_list_3= time_list[2].rename({'TM':'63204450'})
time_list_4= time_list[3].rename({'TM':'63204600'})
time_list_5= time_list[4].rename({'TM':'63204650'})
time_list_6= time_list[5].rename({'TM':'63204800'})
# time_list_8= time_list[7].rename('63305200')
time_list_7= time_list[6].rename({'TM':'63204850'})
time_list_8= time_list[7].rename({'TM':'63205350'})

# time_list_10= time_list[9].rename('63300800')
# time_list_11= time_list[10].rename('63301150')
# time_list_12= time_list[11].rename('63301600')
# time_list_13= time_list[12].rename('63303400')
# time_list_14= time_list[13].rename('63303600')
# time_list_15= time_list[14].rename('63304400')
# time_list_16= time_list[15].rename('63304800')
# time_list_17= time_list[16].rename('63305200')
# time_list_18= time_list[17].rename('63305800')
# time_list_19= time_list[18].rename('63307200')
# time_list_20= time_list[19].rename('63307800')
# time_list_21= time_list[20].rename('63309200')
# time_list_22= time_list[21].rename('63309600')
# time_list_23= time_list[22].rename('63310400')
# time_list_24= time_list[23].rename('63310600')
# time_list_25= time_list[24].rename('63320600')

# time_list_26= time_list[25].rename('63403200')
# time_list_27= time_list[26].rename('63403500')
# time_list_28= time_list[27].rename('63403600')
# time_list_29= time_list[28].rename('63404900')

time_list_9= time_list[8].rename({'TM':'63403200'})
time_list_10= time_list[9].rename({'TM':'63403500'})
time_list_11= time_list[10].rename({'TM':'63403600'})
time_list_12= time_list[11].rename({'TM':'63404900'})

In [140]:
# [63001000, 63203000, 63204401, 63204450, 63204600, 63204650, 63204800, 63204850, 63205350, 63300800, 63301150, 63301600,
#  63303400, 63303600, 63304400, 63304800, 63305200, 63305800, 63307200, 63307800, 63309200, 63309600, 63310400, 63310600, 
#  63320600, 63403200, 63403500, 63403600, 63404900]
# time_list_1= time_list[0].rename({'TM':'63001000'})
# time_list_2= time_list[1].rename({'TM':'63203000'})
# time_list_3= time_list[2].rename({'TM':'63204401'})
# time_list_4= time_list[3].rename({'TM':'63204450'})
# time_list_5= time_list[4].rename({'TM':'63204600'})
# time_list_6= time_list[5].rename({'TM':'63204650'})
# time_list_7= time_list[6].rename({'TM':'63204800'})
# time_list_8= time_list[7].rename({'TM':'63204850'})
# time_list_9= time_list[8].rename({'TM':'63205350'})
# time_list_10= time_list[9].rename({'TM':'63300800'})
# time_list_11= time_list[10].rename({'TM':'63301150'})
# time_list_12= time_list[11].rename({'TM':'63301600'})
# time_list_13= time_list[12].rename({'TM':'63303400'})
# time_list_14= time_list[13].rename({'TM':'63303600'})
# time_list_15= time_list[14].rename({'TM':'63304400'})
# time_list_16= time_list[15].rename({'TM':'63304800'})
# time_list_17= time_list[16].rename({'TM':'63305200'})
# time_list_18= time_list[17].rename({'TM':'63305800'})
# time_list_19= time_list[18].rename({'TM':'63307200'})
# time_list_20= time_list[19].rename({'TM':'63307800'})
# time_list_21= time_list[20].rename({'TM':'63309200'})
# time_list_22= time_list[21].rename({'TM':'63309600'})
# time_list_23= time_list[22].rename({'TM':'63310400'})
# time_list_24= time_list[23].rename({'TM':'63310600'})
# time_list_25= time_list[24].rename({'TM':'63320600'})
# time_list_26= time_list[25].rename({'TM':'63403200'})
# time_list_27= time_list[26].rename({'TM':'63403500'})
# time_list_28= time_list[27].rename({'TM':'63403600'})
# time_list_29= time_list[28].rename({'TM':'63404900'})

In [198]:
rainfall = [time_list_1,time_list_2,time_list_3,time_list_4,time_list_5,time_list_6,time_list_7,time_list_8,time_list_9,
            time_list_10,time_list_11,time_list_12]

In [141]:
# rainfall = [time_list_1,time_list_2,time_list_3,time_list_4,time_list_5,time_list_6,time_list_7,time_list_8,time_list_9,
#             time_list_10,time_list_11,time_list_12,time_list_13,time_list_14,time_list_15,time_list_16,time_list_17,time_list_18,
#             time_list_19,time_list_20,time_list_21,time_list_22,time_list_23,time_list_24,time_list_25,time_list_26,time_list_27,time_list_28,time_list_29]

In [199]:
rainfall_df = pd.concat([rainfall[0],rainfall[1],rainfall[2],rainfall[3],
                                rainfall[4],rainfall[5],rainfall[6],rainfall[7],rainfall[8],
                                rainfall[9],rainfall[10],rainfall[11]],join='outer',axis=1)

In [142]:
# rainfall_df = pd.concat([rainfall[0],rainfall[1],rainfall[2],rainfall[3],
#                                 rainfall[4],rainfall[5],rainfall[6],rainfall[7],rainfall[8],
#                                 rainfall[9],rainfall[10],rainfall[11],rainfall[12],rainfall[13],
#                                 rainfall[14],rainfall[15],rainfall[16],rainfall[17],rainfall[18],
#                                 rainfall[19],rainfall[20],rainfall[21],rainfall[22],rainfall[23],
#                                 rainfall[24],rainfall[25],rainfall[26],rainfall[27],rainfall[28]],join='outer',axis=1)

In [200]:
rainfall_df.shape

(39512, 36)

In [201]:
rainfall[0]

                       TM  DRP   DYP
7     2012-01-08 08:00:00  NaN   0.9
14    2012-01-09 08:00:00  NaN   0.5
32    2012-01-14 08:00:00  NaN  11.6
35    2012-01-15 08:00:00  NaN   9.7
47    2012-01-16 08:00:00  NaN   9.8
...                   ...  ...   ...
39463 2022-09-24 08:00:00  0.0   0.0
39471 2022-09-25 08:00:00  0.0   0.0
39483 2022-09-26 08:00:00  0.0   0.0
39494 2022-09-27 08:00:00  0.0   3.0
39503 2022-09-28 08:00:00  0.0   0.0

[3478 rows x 3 columns]

In [202]:
rainfall_df.iloc[:,0:3].dropna(axis=0, thresh=1)

                       TM  DRP   DYP
7     2012-01-08 08:00:00  NaN   0.9
14    2012-01-09 08:00:00  NaN   0.5
32    2012-01-14 08:00:00  NaN  11.6
35    2012-01-15 08:00:00  NaN   9.7
47    2012-01-16 08:00:00  NaN   9.8
...                   ...  ...   ...
39463 2022-09-24 08:00:00  0.0   0.0
39471 2022-09-25 08:00:00  0.0   0.0
39483 2022-09-26 08:00:00  0.0   0.0
39494 2022-09-27 08:00:00  0.0   3.0
39503 2022-09-28 08:00:00  0.0   0.0

[3478 rows x 3 columns]

In [203]:
rainfall_fix = []
for i in range(0, rainfall_df.shape[1], 3):
    # rainfall_df.iloc[:,i:i+3].dropna(axis=0, thresh=1)
    rainfall_fix.append(rainfall_df.iloc[:,i:i+3].dropna(axis=0, thresh=1))
    print(rainfall_fix[i//3].shape)
    # j = id_list[i//3]
    rainfall_fix[i//3].to_csv(f'statid{i//3}.csv')


# rainfall_df.shape

(3478, 3)
(3466, 3)
(3464, 3)
(3465, 3)
(3487, 3)
(3266, 3)
(3477, 3)
(3482, 3)
(3904, 3)
(3466, 3)
(1927, 3)
(2630, 3)

In [162]:
rainfall_fix_df.shape

(75879, 87)

In [120]:
# rainfall_df = pd.DataFrame(rainfall_df)
# rainfall_df = rainfall_df.iloc[:,0:3].dropna(axis=0, thresh=3)
# rainfall_df = rainfall[0]
rainfall_df.to_csv('rainfall_8clock.csv')