In [1]:
import numpy as np
from numpy import array
import pandas as pd
from pandas import DataFrame

In [2]:
time = pd.read_excel('timemerge.xlsx',skiprows=1)
print(type(time))
time.columns

<class 'pandas.core.frame.DataFrame'>

Index(['TM', 'TM.1', 'TM.2', 'Unnamed: 3', 'TM.3', 'IDTM', 'TM.4', 'TM.5',
       'TM.6', 'TM.7', 'Unnamed: 10', 'STCD', 'TM.8', 'Unnamed: 13', 'STCD.1',
       'TM.9', 'Unnamed: 16', 'STCD.2', 'TM.10'],
      dtype='object')

### 获取雨量

In [203]:
# id_1 = time.iloc[:,10:12]
# print(id_1.columns)
# id_1 = id_1.rename(columns={'STCD':'STCD','TM.8':'TM'})
# id_2 = time.iloc[:,13:15]
# # id_3 = time.iloc[:,16]
# id_2 = id_2.dropna()
# id_2 = id_2.rename(columns={'STCD.1':'STCD','TM.9':'TM'})
# rainfall = pd.concat([id_1,id_2], axis=0)
# # set1 = set(id_1)
# # set2 = set(id_2)
# # set3 = set(id_3)

Index(['STCD', 'TM.8'], dtype='object')

In [34]:
# id = time.iloc[:,17:19]
# id = id.dropna()
# id = id.rename(columns={'STCD.2':'STCD','TM.10':'TM'})
# id

            STCD                  TM
0       63403200 2012-01-01 08:00:00
1       63403200 2012-01-02 08:00:00
2       63403200 2012-01-03 08:00:00
3       63403200 2012-01-04 08:00:00
4       63403200 2012-01-05 08:00:00
...          ...                 ...
875207  63404900 2022-09-28 15:00:00
875208  63204600 2022-09-28 15:00:00
875209  63204401 2022-09-28 15:00:00
875210  63204800 2022-09-28 15:00:00
875211  63204650 2022-09-28 15:00:00

[875212 rows x 2 columns]

In [105]:
# setall = set.union(set1,set2,set3)
# print(len(set1))
# print(len(set2))
# print(len(set3))
# print(len(setall))#29

### 检查空值

In [35]:
# rainfall.isnull().any()
# print(rainfall.shape)
# print(rainfall.columns)
id.isnull().any()
print(id.shape)
print(id.columns)

(875212, 2)
Index(['STCD', 'TM'], dtype='object')

In [36]:
# rainfall = rainfall.groupby('STCD')
rainfall = id.groupby('STCD')

In [41]:
id_list = []
time_list = []
for i,j in rainfall:
    # print(i,j)
    id_list.append(i)
    time_list.append(j.iloc[:,1])
print(id_list)
print(time_list[1])

[63203000, 63204401, 63204450, 63204600, 63204650, 63204800, 63204850, 63205350, 63403200, 63403500, 63403600, 63404900]
27       2012-01-08 14:00:00
33       2012-01-09 08:00:00
65       2012-01-14 02:00:00
72       2012-01-14 03:00:00
81       2012-01-14 04:00:00
                 ...
875160   2022-09-28 11:00:00
875164   2022-09-28 12:00:00
875177   2022-09-28 13:00:00
875199   2022-09-28 14:00:00
875209   2022-09-28 15:00:00
Name: TM, Length: 79015, dtype: datetime64[ns]

In [44]:
# [63203000, 63204401, 63204450, 63204600, 63204650, 63204800, 63204850, 63205350, 63403200, 63403500, 63403600, 63404900]
# time_list_1= time_list[0].rename('63001000')
time_list_1= time_list[0].rename('63203000')
time_list_2= time_list[1].rename('63204401')
time_list_3= time_list[2].rename('63204450')
time_list_4= time_list[3].rename('63204600')
time_list_5= time_list[4].rename('63204650')
time_list_6= time_list[5].rename('63204800')
# time_list_8= time_list[7].rename('63305200')
time_list_7= time_list[6].rename('63204850')
time_list_8= time_list[7].rename('63205350')

# time_list_10= time_list[9].rename('63300800')
# time_list_11= time_list[10].rename('63301150')
# time_list_12= time_list[11].rename('63301600')
# time_list_13= time_list[12].rename('63303400')
# time_list_14= time_list[13].rename('63303600')
# time_list_15= time_list[14].rename('63304400')
# time_list_16= time_list[15].rename('63304800')
# time_list_17= time_list[16].rename('63305200')
# time_list_18= time_list[17].rename('63305800')
# time_list_19= time_list[18].rename('63307200')
# time_list_20= time_list[19].rename('63307800')
# time_list_21= time_list[20].rename('63309200')
# time_list_22= time_list[21].rename('63309600')
# time_list_23= time_list[22].rename('63310400')
# time_list_24= time_list[23].rename('63310600')
# time_list_25= time_list[24].rename('63320600')

# time_list_26= time_list[25].rename('63403200')
# time_list_27= time_list[26].rename('63403500')
# time_list_28= time_list[27].rename('63403600')
# time_list_29= time_list[28].rename('63404900')

time_list_9= time_list[8].rename('63403200')
time_list_10= time_list[9].rename('63403500')
time_list_11= time_list[10].rename('63403600')
time_list_12= time_list[11].rename('63404900')

In [208]:
# rainfall = [time_list_1,time_list_2,time_list_3,time_list_4,time_list_5,time_list_6,time_list_7,time_list_8,time_list_9,
#             time_list_10,time_list_11,time_list_12,time_list_13,time_list_14,time_list_15,time_list_16,time_list_17,time_list_18,
#             time_list_19,time_list_20,time_list_21,time_list_22,time_list_23,time_list_24,time_list_25,time_list_26,time_list_27,time_list_28,time_list_29]

In [45]:
rainfall = [time_list_1,time_list_2,time_list_3,time_list_4,time_list_5,time_list_6,time_list_7,time_list_8,time_list_9,
            time_list_10,time_list_11,time_list_12]

In [46]:
len(time_list_2)
len(time_list_4)

78899

In [47]:
full = pd.Series(pd.date_range(start='2012-01-01 00:00:00', end='2022-09-28 16:00:00', freq='H'))
print(full.head)
full = full.tolist()
# full[0]
# set1 = set(pingwanglevel)
set2 = set(full)
rainfall_missing = []

for station in rainfall:
    set1 = set(station)
    # print(len(set2)-len(set1))
    tem_missing = sorted(set1^set2)
    tem_missing = pd.Series(tem_missing)
    rainfall_missing.append(tem_missing)
    print(len(tem_missing))

<bound method NDFrame.head of 0       2012-01-01 00:00:00
1       2012-01-01 01:00:00
2       2012-01-01 02:00:00
3       2012-01-01 03:00:00
4       2012-01-01 04:00:00
                ...
94164   2022-09-28 12:00:00
94165   2022-09-28 13:00:00
94166   2022-09-28 14:00:00
94167   2022-09-28 15:00:00
94168   2022-09-28 16:00:00
Length: 94169, dtype: datetime64[ns]>
16058
15154
15444
15270
15397
16509
15077
15844
35378
15361
48021
31303

In [256]:
# rainfall_missing_df = pd.concat([rainfall_missing[0],rainfall_missing[1],rainfall_missing[2],rainfall_missing[3],
#                                 rainfall_missing[4],rainfall_missing[5],rainfall_missing[6],rainfall_missing[7],rainfall_missing[8],
#                                 rainfall_missing[9],rainfall_missing[10],rainfall_missing[11],rainfall_missing[12],rainfall_missing[13],
#                                 rainfall_missing[14],rainfall_missing[15],rainfall_missing[16],rainfall_missing[17],rainfall_missing[18],
#                                 rainfall_missing[19],rainfall_missing[20],rainfall_missing[21],rainfall_missing[22],rainfall_missing[23],
#                                 rainfall_missing[24],rainfall_missing[25],rainfall_missing[26],rainfall_missing[27],rainfall_missing[28]],join='outer',axis=1)

In [48]:
rainfall_missing_df = pd.concat([rainfall_missing[0],rainfall_missing[1],rainfall_missing[2],rainfall_missing[3],
                                rainfall_missing[4],rainfall_missing[5],rainfall_missing[6],rainfall_missing[7],rainfall_missing[8],
                                rainfall_missing[9],rainfall_missing[10],rainfall_missing[11]],join='outer',axis=1)

In [49]:
rainfall_missing_df.shape

(48021, 12)

In [268]:
rainfall_missing_df = pd.DataFrame(rainfall_missing_df)
rainfall_missing_df.to_csv('rainfall_missing1.csv')

### 获取其他站点

### 检查空值

#### 平望

In [152]:
pingwanglevel = time.iloc[:,0]
pingwanglevel = pingwanglevel.dropna(how='any', axis=0)
print(pingwanglevel.isnull().any())
# print(pingwanglevel.head)
pingwanglevel = pingwanglevel.tolist()
print(len(pingwanglevel))
print(pingwanglevel[0])

False
93978
2012-01-01 00:00:00

In [153]:
gongcheng = time.iloc[:,1]
gongcheng = gongcheng.dropna(how='any', axis=0)
print(gongcheng.isnull().any())
gongcheng = gongcheng.tolist()
print(len(gongcheng))

False
87263

In [154]:
pingwangtide = time.iloc[:,2]
pingwangtide = pingwangtide.dropna(how='any', axis=0)
print(pingwangtide.isnull().any())

False

#### 苏州

In [3]:
suzhoulevel = time.iloc[:,4]
suzhoulevel = suzhoulevel.dropna(how='any', axis=0)
print(suzhoulevel.isnull().any())

False

In [18]:
zha1 = time.iloc[:,5]
zha1 = zha1.dropna(how='any', axis=0)
print(zha1.isnull().any())
print(zha1)

False
0      2012-01-01 08:00:00
1      2012-01-02 08:00:00
2      2012-01-03 08:00:00
3      2012-01-04 08:00:00
4      2012-01-05 08:00:00
               ...
3045   2022-09-24 08:00:00
3046   2022-09-25 08:00:00
3047   2022-09-26 08:00:00
3048   2022-09-27 08:00:00
3049   2022-09-28 08:00:00
Name: IDTM, Length: 3050, dtype: datetime64[ns]

In [157]:
zha2 = time.iloc[:,6]
zha2 = zha2.dropna(how='any', axis=0)
print(zha2.isnull().any())

False

In [158]:
zha3 = time.iloc[:,7]
zha3 = zha3.dropna(how='any', axis=0)
print(zha3.isnull().any())

False

In [159]:
zha4 = time.iloc[:,8]
zha4 = zha4.dropna(how='any', axis=0)
print(zha4.isnull().any())

False

In [ ]:
zha5 = time.iloc[:,9]
zha5 = zha4.dropna(how='any', axis=0)
print(zha4.isnull().any())

In [160]:
type(pingwangtide)

pandas.core.series.Series

### 生成时间戳

In [19]:
full = pd.Series(pd.date_range(start='2012-01-01 00:00:00', end='2022-09-28 16:00:00', freq='H'))
print(full.head)
full = full.tolist()
full[0]

<bound method NDFrame.head of 0       2012-01-01 00:00:00
1       2012-01-01 01:00:00
2       2012-01-01 02:00:00
3       2012-01-01 03:00:00
4       2012-01-01 04:00:00
                ...
94164   2022-09-28 12:00:00
94165   2022-09-28 13:00:00
94166   2022-09-28 14:00:00
94167   2022-09-28 15:00:00
94168   2022-09-28 16:00:00
Length: 94169, dtype: datetime64[ns]>

Timestamp('2012-01-01 00:00:00')

### 比对

In [163]:
set1 = set(pingwanglevel)
set2 = set(full)
print(len(set2)-len(set1))
pingwanglevel_missing = sorted(set1^set2)
pd.DataFrame(pingwanglevel_missing).to_csv('pingwanglevel.csv')

191

In [164]:
set3 = set(gongcheng)
print(len(set2)-len(set3))
gongcheng_missing = sorted(set3^set2)
pd.DataFrame(gongcheng_missing).to_csv('gongcheng_missing.csv')

6906

In [165]:
set4 = set(pingwangtide)
print(len(set2)-len(set4))
pingwangtide_missing = sorted(set4^set2)
pd.DataFrame(pingwangtide_missing).to_csv('pingwangtide_missing.csv')

360

In [166]:
set5 = set(suzhoulevel)
print(len(set2)-len(set5))
suzhoulevel_missing = sorted(set5^set2)
pd.DataFrame(suzhoulevel_missing).to_csv('suzhoulevel_missing.csv')

1364

In [20]:
set6 = set(zha1)
set2 = set(full)
print(len(set2)-len(set6))
zha1_missing = sorted(set6^set2)
pd.DataFrame(zha1_missing).to_csv('zha1_missing.csv')

91119

In [168]:
set7 = set(zha2)
print(len(set2)-len(set7))
zha2_missing = sorted(set7^set2)
pd.DataFrame(zha2_missing).to_csv('zha2_missing.csv')

92331

In [169]:
set8 = set(zha3)
print(len(set2)-len(set8))
zha3_missing = sorted(set8^set2)
pd.DataFrame(zha3_missing).to_csv('zha3_missing.csv')

92189

In [170]:
set9 = set(zha4)
print(len(set2)-len(set9))
zha4_missing = sorted(set9^set2)
pd.DataFrame(zha4_missing).to_csv('zha4_missing.csv')

92051

In [6]:
print(shuiwei['TM'])

0       2012-01-01 00:00:00
1       2012-01-01 01:00:00
2       2012-01-01 02:00:00
3       2012-01-01 03:00:00
4       2012-01-01 04:00:00
                ...
93981   2022-09-28 12:00:00
93982   2022-09-28 13:00:00
93983   2022-09-28 14:00:00
93984   2022-09-28 15:00:00
93985   2022-09-28 16:00:00
Name: TM, Length: 93986, dtype: datetime64[ns]